{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

	<section class="background-gray">
		<div class="container--800">
			<div class="site__register row column">
				<h1>Envió del sitio web</h1>
				<form class="site__form background-white">
					<div class="site__form__input">
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Nombre del sitio</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Nombre del sitio">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Url</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Url">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Descripción</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Descripción">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Diseñado por</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Diseñado por">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Diseñador url</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Diseñador url">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Twitter</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Twitter">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Imagen Sitio 1</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Imagen Sitio 1">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Imagen Sitio 2</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Imagen Sitio 2">	
							</div>
						</div>
						<div class="site__form__input-input row middle between">
							<div class="site__form__input-input__name">
								<label>Imagen Sitio 3</label>
							</div>
							<div class="site__form__input-input__text">
								<input type="text" placeholder="Imagen Sitio 3">	
							</div>
						</div>
					</div>
				</form>
				<div class="site__form__colaborate row middle between">
					<span id="js-colaborate" class="site__form__colaborate__new">Colaborador</span>
					<span class="site__form__colaborate__cancel">Cancelar</span>
				</div>
				<div id="js-section-colaborate">
					
				</div>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="background-white">
			<span class="footer-icon icon-twitter"></span>
			<span class="footer-icon icon-facebook"></span>
			<span class="footer-icon footer-icon--heart icon-heart"></span>
			<span class="footer-icon icon-google-plus"></span>
			<span class="footer-icon icon-vimeo"></span>
		</div>
	</footer>

{% endblock content %}

{% block scripts %}
	
	<script>
		var count = 0;
		$(document).ready( function(){
			$('#js-colaborate').click( function(){
				count ++;
				$('#js-section-colaborate').append(
					'<form class="site__form background-white">' + 
						'<div class="site__form__input">' +
							'<div class="site__form__input-input row middle between">' +
								'<div class="site__form__input-input__name">' +
									'<label>' + 'Diseñador ' + count +'</label>' +
								'</div>' +
								'<div class="site__form__input-input__text">' +
									'<input type="text" placeholder="Diseñador">' +
								'</div>' +
							'</div>' +
							'<div class="site__form__input-input row middle between">' +
								'<div class="site__form__input-input__name">' +
									'<label>Diseñador url</label>' +
								'</div>' +
								'<div class="site__form__input-input__text">' +
									'<input type="text" placeholder="Diseñador url">' +
								'</div>' +
							'</div>' +
							'<div class="site__form__input-input row middle between">' +
								'<div class="site__form__input-input__name">' +
									'<label>Twitter</label>' +
								'</div>' +
								'<div class="site__form__input-input__text">' +
									'<input type="text" placeholder="Twitter">' +
								'</div>' +
							'</div>' +
						'</div>' +
					'</form>');
			});
		});
	</script>
{% endblock scripts %}
