{% extends "base.html" %}

{% block content %}
	<section class="background-gray">
		<div class="container--600">
			<div class="site__register row column">
				<h1>Registro</h1>
				<div class="site__register__button row middle between">
					<a class="site__register__button-fb" href="">
						Registro con Facebook
					</a>
					<a class="site__register__button-tw" href="">
						Registro con Twitter
					</a>
				</div>
				<p><i>o create una cuenta con tu Usuario y Contraseña</i></p>
				<form class="site__form background-white" method="POST">
					{% csrf_token %}
					<div class="site__form__input">
						{{ form.username }}
						{{ form.username.errors }}
						{{ form.email }}
						{{ form.email.errors }}
						{{ form.password }}
						{{ form.password.errors }}
						<input type="submit" value="Enviar">
					</div>
				</form>
				<p class="site__register__link">¿Ya eres miembro? <a href="">Ingresar ahora</a></p>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="background-white">
			<span class="footer-icon icon-twitter"></span>
			<span class="footer-icon icon-facebook"></span>
			<span class="footer-icon footer-icon--heart icon-heart"></span>
			<span class="footer-icon icon-google-plus"></span>
			<span class="footer-icon icon-vimeo"></span>
		</div>
	</footer>
{% endblock content %}